<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>findbymap</title>
    <link rel="stylesheet" href="total.css" />
  </head>
  <body>
    <div id="map" style="width: 100%; height: 350px"></div>

    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=11dcd5ee5605dff12e20c76f51b215de"
    ></script>
    <script>
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
          level: 3, // 지도의 확대 레벨
        };

      // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
      var map = new kakao.maps.Map(mapContainer, mapOption);
    </script>
    <!-- <div class="sidebar"> -->
    <!-- <div class="find-mat">
                맛도리를 찾아보자
            </div> -->
    <div class="info-layers">
      <div class="info-box">
        <img src="intro-to-html/chris.jpeg" alt="" style="width: 300px; height: 300px" />
        <div>가게이름</div>
        <div>가게 설명 or 카테고리</div>
      </div>
      <div class="info-box">
        <img src="intro-to-html/chris.jpeg" alt="" style="width: 300px; height: 300px" />
        <div>something</div>
        <div>something123</div>
      </div>
      <div class="info-box">
        <img src="intro-to-html/chris.jpeg" alt="" style="width: 300px; height: 300px" />
        <div>가게이름</div>
        <div>가게 설명 or 카테고리</div>
      </div>
      <div class="info-box">
        <img src="intro-to-html/chris.jpeg" alt="" style="width: 300px; height: 300px" />
        <div>something</div>
        <div>something123</div>
      </div>
    </div>
    <!-- </div> -->
  </body>
</html>
