<!DOCTYPE html>
<html>
<head>
    <title>home</title>
    <link rel="stylesheet" href="../css/home.css">
    <meta charset = 'UTF-8'>
    <style>
        * {
            box-sizing : border-box;
        }
        html {
            font-size : 15px;
        }
        .container{}
        .container > .sidebar{}
        .container > .contents{}

        .container.collapse{}
        .container.collapse > 
    </style>
</head>
<body>
    <object class="header" data="header.html"></object>
    <object class="header-body" data="header-body.html" type=""></object>
</body>
</html>
