<!DOCTYPE html>
<html>
  <head>
    <title>header-body</title>
    <link rel="stylesheet" href="../css/header-body.css">
  </head>
    <body>
        <main class = 'main-container'>
            <div class='wrapper'>
              <div class='carousel'>
                <div class='slide'>
                  <img src="/intro-to-html/chris.jpeg" frameborder="0" allowfullscreen></img>
                </div>
          
                <div class='slide'>
                  <img src="/intro-to-html/123.png" frameborder="0" allowfullscreen></img>
              
                </div>
          
                <div class="slide">
                  <img src="/intro-to-html/112.jpg" frameborder="0" allowfullscreen></img>
                </div>
              </div>
            </div>      
        </main>
    </body>
</html>