<!DOCTYPE html>
<html>
  <head>
    <title>header</title>
    <link rel="stylesheet" href="../css/header.css" />
    <script>
      /*function openPopup() {
        var name = '_parent';
        var url = 'home_search.html';
        window.open(url, name);
      }*/
      /*
      function showSuggestions() {
        document.getElementById('suggestions').classList.remove('hidden');
      }

      function hideSuggestions() {
        setTimeout(() => {
          document.getElementById('suggestions').classList.add('hidden');
        }, 200); // 200ms 딜레이 추가 (추천 태그 클릭 방지)
      }
      */
    </script>
  </head>
  <body>
    <section class="header">
      <div class="left-section">
        <div class="title"><a href="home.html" target="_top" class="title">서성이다</a></div>
        <div class="sub-title"><a href="home.html" target="_top">니들이 카페를 알아?</a></div>
      </div>
      <div class="middle-section">
        <div class="map"><a href="findbymap.html" target="_top">지도로 찾기</a></div>
        <div class="menu"><a href="menu.html" target="_top">메뉴로 찾기</a></div>
        <div class="category"><a href="category.html" target="_top">카테고리로 찾기</a></div>
        <div class="keyword"><a href="index.html" target="_top">아무거나</a></div>
      </div>
      <div class="right-section">
        <div class="FAQ"><a href="faq.html" target="_top">문의</a></div>
        <div class="login"><a href="login.html" target="_top">로그인</a></div>
        <div class="createaccount"><a href="index.html" target="_top">회원가입</a></div>
      </div>
    </section>
  </body>
</html>
