<!DOCTYPE html>
<html>
  <head>
    <title>header</title>
    <link rel="stylesheet" href="../css/header.css" />
    <script>
      /*function openPopup() {
        var name = '_parent';
        var url = 'home_search.html';
        window.open(url, name);
      }*/
      function showSuggestions() {
        document.getElementById('suggestions').classList.remove('hidden');
      }

      function hideSuggestions() {
        setTimeout(() => {
          document.getElementById('suggestions').classList.add('hidden');
        }, 200); // 200ms 딜레이 추가 (추천 태그 클릭 방지)
      }
    </script>
  </head>
  <body>
    <section class="header">
      <div class="left-section">
        <div class="title" onclick="location.href='home.html'">서성이다</div>
        <div class="sub-title" onclick="location.href='home.html'">니들이 카페를 알아?</div>
      </div>
      <div class="middle-section">
        <div class="map" onclick="location.href='findbymap.html'">지도로 찾기</div>
        <div class="menu" onclick="location.href='menu.html'">메뉴로 찾기</div>
        <div class="category" onclick="location.href='category.html'">카테고리로 찾기</div>
        <div class="keyword" onclick="location.href='index.html'">아무거나</div>
      </div>
      <div class="right-section">
        <div class="FAQ" onclick="location.href='faq.html'">문의</div>
        <div class="login" onclick="location.href='login.html'">로그인</div>
        <div class="createaccount" onclick="location.href='index.html'">회원가입</div>
      </div>
    </section>
  </body>
</html>
