<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel="stylesheet" href="{% static 'css/total.css' %}" />
  </head>
  <body>
    <main class = 'main-container'>
      <div class='wrapper'>
          <div class='carousel'>
              <div class='slide'>
              <img src="https://via.placeholder.com/400x300" frameborder="0" allowfullscreen></img>
              </div>
      
              <div class='slide'>
              <img src="https://via.placeholder.com/400x300" frameborder="0" allowfullscreen></img>
          
              </div>
      
              <div class="slide">
              <img src="https://via.placeholder.com/400x300" frameborder="0" allowfullscreen></img>
              </div>
          </div>
      </div>      
  </main>
  </body>
</html>
