<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>main_search</title>
    <link rel="stylesheet" href="../css/home_search.css" />
  </head>
  <body>
    <header>
      <div>
        <h1>여기 상단바</h1>
      </div>
    </header>
    <main>
      <div id="container_who">
        <h3>누구와 함께 하나요?</h3>
        <div>
          <button class="tag-btn">👫 동료랑 <span>(14)</span></button>
          <button class="tag-btn">🧍 혼자서 <span>(14)</span></button>
          <button class="tag-btn">💑 연인이랑 <span>(9)</span></button>
          <button class="tag-btn">🐶 반려동물과 <span>(7)</span></button>
          <button class="tag-btn">🙌 친구랑 <span>(7)</span></button>
          <button class="tag-btn">📘 소규모로 <span>(4)</span></button>
          <button class="tag-btn">❤️ 소개팅 <span>(3)</span></button>
          <button class="tag-btn">👶 아이랑 <span>(3)</span></button>
          <button class="tag-btn">👨‍👩‍👧 부모님이랑 <span>(2)</span></button>
          <button class="tag-btn">🧓 외국인이랑 <span>(1)</span></button>
        </div>
      </div>
      <div id="container_what">
        <h3>무엇을 하나요?</h3>
        <div></div>
      </div>
      <div id="container_special">
        <h3>분위기와 특징</h3>
        <div></div>
      </div>
    </main>
    <!--로그인과 회원가입은 오른쪽 끝에 따로-->
  </body>
</html>
