{% extends "reference.html" %} {% block search %} {% include "partials/home_search.html" %} {% endblock %}

{% comment %} <!DOCTYPE html>
<html>
    <head>
        <title>메뉴로 찾기</title>
        <link rel="stylesheet" href="../css/menu.css">
        <link rel="stylesheet" href="../css/home.css">
        <style>
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <object class="header" data="header.html"></object>
        <section class = 'middle'>
            <div class = 'search-bar'>
                <i class = 'fas fa-search'></i>
                <input class = 'search-bar__input' type = 'search' placeholder = '입맛 다시는 중.....' />
            </div>
        </section>
        <section class = 'main-bar'>
            <div class = 'main-bar-title'> COFFEE
            </div>
            <div class = 'main-bar-title'> BEVERAGE
            </div>
            <div class = 'main-bar-title'> DESSERT
            </div>
            <div class = 'main-bar__input'>
                <input type = 'radio' id = 'group1-btn1' name = 'group1'>
                <label for = 'group1-btn1'> 카라멜 마끼아또 </label>
                </button>
                <br />
                <br />
                <br />
                <input type = 'radio' id = 'group1-btn2' name = 'group1'>
                <label for = 'group1-btn2'> 아인슈페너 </label>
                <br />
                <br />
                <br />
                <input type = 'radio' id = 'group1-btn3' name = 'group1'>
                <label for = 'group1-btn3'> 카푸치노 </label>
                <br />
                <br />
                <br />
                <input type = 'radio' id = 'group1-btn4' name = 'group1'>
                <label for = 'group1-btn4'> 카라멜 마끼아또 </label>
            </div>
            <div class = 'main-bar__input'>
                <input type = 'radio' id = 'group2-btn1' name = 'group2'>
                <label for = 'group2-btn1'> 사과티 </label>
                <br />
                <br />
                <br />
                <input type = 'radio' id = 'group2-btn2' name = 'group2'>
                <label for = 'group2-btn2'> 복숭아 라떼 </label>
                <br />
                <br />
                <br />
                <input type = 'radio' id = 'group2-btn3' name = 'group2'>
                <label for = 'group2-btn3'> 블루베리 스무디 </label>
                <br />
                <br />
                <br />
                <input type = 'radio' id = 'group2-btn2' name = 'group2'>
                <label for = 'group2-btn1'> 딸기라떼 </label>
            </div>
            <div class = 'main-bar__input'>
                <input type = 'radio' id = 'group3-btn1' name = 'group3'>
                <label for = 'group3-btn1'> 마카롱 </label>
                <br />
                <br />
                <br />
                <input type = 'radio' id = 'group3-btn2' name = 'group3'>
                <label for = 'group3-btn2'> 에그타르트 </label>
                <br />
                <br />
                <br />
                <input type = 'radio' id = 'group3-btn3' name = 'group3'>
                <label for = 'group3-btn3'> 몽블랑 </label>
                <br />
                <br />
                <br />
                <input type = 'radio' id = 'group3-btn2' name = 'group3'>
                <label for = 'group3-btn1'> 수플레 </label>
            </div>
        </section>
    </body>
</html> {% endcomment %}
