<!DOCTYPE >

<html>
  <head>
    {% load static %} {% load tz %}
    <link rel="stylesheet" href="{% static 'css/total.css' %}" />
  </head>
  <body id="reference-wrap">
    <section class="reference-header">
      <div class="reference-left-section">
        <a href="/" class="reference-header-title">서성이다</a>
        <a href="/" class="reference-header-sub-title">니들이 카페를 알아?</a>
      </div>
      <div class="reference-middle-section">
        <a href="{% url 'cafes:findbymap' %}" class="reference-map">지도로 찾기</a>
        <a href="{% url 'cafes:category' %}" class="reference-category">카테고리로 찾기</a>
        <a href="/chatbot/" class="reference-keyword">chatbot</a>
      </div>
      <div class="reference-right-section">
        {% if request.user.is_authenticated %}
          <span class="user-info">
            {{ request.session.display_name|default:request.user.username }} 님
            <a href="/mypage" class="reference-mypage">마이페이지</a>
            <a href="{% url 'logout' %}" class="reference-logout">로그아웃</a>
          </span>
        {% else %}
          <a href="/login/" class="reference-login">로그인</a>
          <a href="/register/" class="reference-createaccount">회원가입</a>
        {% endif %}
      </div>
    </section>
    <main id="ref-main">
      {% block search %}{% endblock %}
      {% block activate %}{% endblock %}
      {% block login %}{% endblock %}
      {% block choose %}{% endblock %}
      {% block content %}{% endblock %}
    </main>

    {% block script %}{% endblock %}

    <div class="reference-footer">
      <a href="https://github.com/B2O1/seoseong_ida" target="_blank" class="reference-footer-link">
        Email
      </a>
      <a href="/faq/" class="reference-FAQ">문의</a>
    </div>
  </body>
</html>
