{% extends 'reference.html' %} {% load static %} {% block content %}
<form action="login.html">
  <table>
    <tr>
      <td><h2 style="text-align: center; margin-top: 50px">회원가입</h2></td>
    </tr>
    <tr>
      <td>아이디</td>
    </tr>
    <tr>
      <td><input type="text" class="register-text" required /></td>
    </tr>
    <tr>
      <td>비밀번호</td>
    </tr>
    <tr>
      <td><input type="password" class="register-text" required /></td>
    </tr>
    <tr>
      <td>비밀번호 확인</td>
    </tr>
    <tr>
      <td><input type="password" class="register-text" required /></td>
    </tr>
    <tr>
      <td>이름</td>
    </tr>
    <tr>
      <td><input type="text" class="register-text" required /></td>
    </tr>
    <tr>
      <td>성별</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="gender" value="남" />남 <input type="radio" name="gender" value="여" checked />여
      </td>
    </tr>
    <tr>
      <td>생년월일</td>
    </tr>
    <tr>
      <td><input type="date" class="register-text" /></td>
    </tr>
    <tr>
      <td>이메일</td>
    </tr>
    <tr>
      <td>
        <input type="text" class="register-email" /> @
        <select>
          <option>naver.com</option>
          <option>gmail.com</option>
          <option>daum.net</option>
          <option>nate.com</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><input type="submit" value="가입하기" class="register-btn" onclick="alert('가입 성공!')" /></td>
    </tr>
  </table>
</form>
{% endblock %} {% block statics %} {% endblock %}
